@mixin button {
    color: #1289A7;
    background: #fff;
    border: 1px solid #1289A7;
}
@mixin  button-hover  {
    color: #fff;
    background: #079992;
    border: 1px solid #1289A7;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background: #f4f4f4f4;
}

header {
    width: 100%;
    .logo {
        background: rgb(40, 128, 179);
        position: absolute;
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
        padding: 2px 6px;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 5px 5px 5px #000;
        p {
            margin-top: 15px;
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
            color: #fff;
        }
    }

    .logo:hover {
        
        background: rgb(13, 86, 104);
        
        
    }

    .list-menu {
        display: block;
        font-size: 18px;
        ul {
            list-style: none;
            text-align: center;
            background: #34495e;
            padding: 15px 0;
            
            margin: 0;
            height: 85px;
            // line-height: 50px;
            li {
                display: inline-table;
                width: 120px;
                height: 50px;
                line-height: 50px;
                position: relative;
                text-shadow: 10px 10px 10px rgb(27, 25, 25) ;
                
                a {
                    color: #fff;
                    text-decoration: none;
                }
                a:hover {
                    color: rgb(223, 92, 16);
                    
                }

                .sub-menu {
                    text-align: center;
                    display: none;
                    position: absolute;
                    height: 165px;
                }
               
            }
            li:hover .sub-menu {
                display: block;
            }
          
        }

        .input-field {
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 17px;
            input {
                border: none;
            }
             button {
                border: none;
                margin-left: -5px;
                color: #34495e;
                transition: 0.5s;
            }
            button:hover {
                color: #FF843E;
            }
        }
    }

    .banner {
        img {
            width: 100%;
        }
    }

    .menu-icon {
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        font-size: 35px;
        position: absolute;
        right: 40px;
        top: 22px;
        cursor: pointer;
        color: #fff;
        display: none;
    }

}

.title {
    display: flex;
    width: 80%;
    
    margin: 0 auto;
    margin-top: 50px;
    h4 {
        font-size: 27px;
        width: 280px !important;
    }
    span {
        border-top: 2px solid #FF843E;
        width: 1000px;
        margin-top: 18px;
        flex-shrink: 3;
    }
}


.content {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding-bottom: 60px;
    
    .html, .css, .js {
        overflow: hidden;
        position: relative;
        margin: 60px 0;
        transition: 0.4s;
        .img-html {
            left: 0;
            img {
                object-fit: cover;
                width: 100%;
                margin-left: -15px;
            }
            img:hover {
                opacity: 0.8;
                filter: grayscale(20%);
            }

        }
        .html-description {
            position: relative;
            right: 0;
            text-align: justify;
            font-size: 16px;
            padding: 0;
            padding-left: 30px;

            a {
                color: #000;
            }

            h2 {
                font-size: 27px;
                text-align: center;
                margin-bottom: 20px;
            }
            
            button {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid #FF843E;
                padding: 8px 16px;
                font-size: 17px;
                color: #FF843E;
                background: #fff;
                transition: 0.5s;
            }
            button:hover {
                color: #fff;
                background: #FF843E;
            }
        }
    }

    .html:hover, .css:hover, .js:hover {
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
    }

}

.about-us {
    width: 80%;
    // background: #22848d;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    min-height: 300px;
    margin-top: 60px;
    div {
        width: 350px;
        flex-shrink: 1;
        text-align: center;
        
        
    }

    img {
        padding-top: 20px;
        box-sizing: border-box;
    }

    .hong-son {
        top: -30%;
        color: #dadbe0;
        margin-right: 20px;

        b {
            color: #fff;
        }

        p {
            margin: 0;
            padding: 0 4px;
            line-height: 20px;
            font-size: 15px;
        }
        .hong-son-infor {
            padding: 20px 3px;
            background: #22848d;
            
            .hong-son-contact {
                i {
                    font-size: 22px;
                    padding: 7px 10px;
                    cursor: pointer;
                    
                }
                i:hover {
                    color: #fff;
                }
            }
            .quote {
                font-size: 14px;
                padding: 6px 0;
                color: #dadbe0;
            }
        }


    }

    .quang-ha {
        top: -30%;
        color: #dadbe0;
        margin-right: 20px;

        b {
            color: #fff;
        }

        p {
            margin: 0;
            padding: 0 4px;
            line-height: 20px;
            font-size: 15px;
        }
        .quang-ha-infor {
            padding: 20px 3px;
            background: #22848d;
            .quang-ha-contact {
                i {
                    font-size: 22px;
                    padding: 7px 10px;
                    cursor: pointer;
                    
                }
                i:hover {
                    color: #fff;
                }
            }
            .quote {
                font-size: 14px;
                padding: 6px 0;
                color: #dadbe0;
            }

        }

    }

    .thanh-do {
        top: -30%;
        color: #dadbe0;

        b {
            color: #fff;
        }

        p {
            margin: 0;
            padding: 0 4px;
            line-height: 20px;
            font-size: 15px;
        }
        .thanh-do-infor {
            padding: 20px 3px;
            background: #22848d;
            .thanh-do-contact {
                i {
                    font-size: 22px;
                    padding: 7px 10px;
                    cursor: pointer;
                    
                }
                i:hover {
                    color: #fff;
                }
            }
            .quote {
                font-size: 14px;
                padding: 6px 0;
                color: #dadbe0;
            }
        }
    }

}   

/*----------------*/
//reuse component
.setting-css-1,.setting-html-1, .value-style, .setting-js-1 {
    margin-left: 30px;
    padding: 20px 0;
    background: #eeeeee;
    border-left: 3px solid #22848d;
    color: #96979b;
        
    .number {
        position: absolute;
        padding-right: 20px;
        border-right: 1px solid;
        line-height: 10px;
    }

    .value {
        margin-left: 60px;
        line-height: 10px;
    }
        
}


.btn-more {
    border: 1px solid #FF843E;
    padding: 7px 16px;
    font-size: 16px;
    color: #fff;
    background: #FF843E;  
    float: right;     
}
.btn-more:hover {
    background: rgb(228, 100, 25);
}




//css tutorial page
.css-main, .html-main, .js-main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 40px;
    img {
        width: 95%;
        margin-bottom: 30px;
    }

    .css-content, .html-content, .js-content {
        width: 70%;
        min-width: 500px;

        .css-header, .html-header, .js-header {
            margin: 0;
            padding: 0;
            margin-top: 60px ;

            .css-header--sub-content, .html-header--sub-content, .js-header--sub-content  {
                margin-left: 20px;
                font-size: 14px;
            }
        }

        #khai-niem, #hoat-dong, #co-cau,#chon-nhieu-phan-tu,
         #phong-chu-va-van-ban, #loi-ket,#chuong-trinh, 
         #cac-the-thong-dung, #chuong-trinh, #cau-truc, 
         #huong-dan, #nhuoc-diem, #uu-diem-va-nhuoc-diem, 
         #uu-diem, #loi-ich, #ung-dung {
            width: 95%;
            margin: 0;
            padding: 0;
            text-align: justify;
            p {
                margin-left: 30px;
            }
            img {
                width: 95%;
                margin-bottom: 30px;
            }
        }

    }

    .css-sidebar, .html-sidebar, .js-sidebar {
        width: 30%;
        margin-top: 120px;
        padding: 25px 0;
        
        }
        h3 {
            margin-left: 20px;
            padding-top: 20px;
            color: #fff;
        }
        .css-sidebar--list-menu, .html-sidebar--list-menu, 
        .js-sidebar--list-menu {
            background: #66889c;
            ul {
                margin-bottom: 0;
            }
            li {
                list-style: square;
                line-height: 40px;
                color: #fff;
                a {
                 color: #fff;
             }
        }
        
    }
           
    .css-navigation, .html-navigation, .js-navigation {
        background: #66889c;
        li {
            margin-left: 30px;
            list-style: upper-roman;
            color: #fff;
            a {
                color: #fff;
            }
        }
    }
   
}


.html-content {
    img {
        width: 80%;
        margin-bottom: 30px;
        margin-left: 30px;
    }
    #cau-truc {
        .number {
            p {
                margin-left: 20px;
            }
        }

        .setting-html-1 {
            margin-bottom: 20px;
        }
    }

    #chuong-trinh {
        li {
            list-style: none;
        }
    }
   
}

.js-content {

    img {
        width: 80%;
        margin-bottom: 30px;
        margin-left: 30px;
    }

}


footer {
    width: 100%;
    background: #244c6d;
    color: #fff;
    padding-bottom: 20px;
    
    .contact {
        width: 80%;
        margin: 0 auto;
        position: relative;
        height: 120px;
        border-bottom: 1px solid #FF843E;
        .quote {
            position: absolute;
            left: 0;
            top: 30px;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
                letter-spacing: 1px;
                color: #96979b;
            }
        }
        .input-field {
            position: absolute;
            right: 0;
            top: 30px;

            input {
                border: none;
                height: 40px;
                width: 250px;
                background: #262c33;
                color: #fff;
            }
            
            button {
                border: 1px solid #FF843E;
                height: 40px;
                letter-spacing: 1px;
                color: #fff ;
                width: 100px;
                background: #FF843E;
            }
            button:hover {
                color: #FF843E;
                background: #fff;
            }
            
        }
      
    }
    .links {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
        justify-content: space-between;

        .introduce {
            img {
                float: left;
                margin-top: -15px;
            }
            .logo {
                h2 {
                    text-align: center;
                    font-size: 22px;
                    
                }
            }
            p {
                font-size: 15px;
                color: #96979b;
                text-align: justify;
            }
        }

       .navigation-link {
           text-align: center;
            h2 {
                font-size: 22px;
                line-height: none;
            }
            li {
                list-style: none;
                text-align: center;
                a {
                    font-size: 15px;
                    color: #96979b;
                }
            }
       } 

        .social-media {
            right: 0;
            text-align: center;
            
            ul {
                float: left;
                margin: 0;
                padding: 0;

                li {
                    font-size: 28px;
                    list-style: none;
                    padding: 10px 60px;
                    text-align: center;
                    margin: 3px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s;

                    i {
                        //margin-left: -20px;
                        padding: 6px;
                        border: 1px solid none;
                        border-radius: 50%;
                        max-width: none;
                    }
                }
                .fb {
                    background: #314A83;
                    i {
                        background: rgb(10, 42, 117);
                    }
                }
                .fb:hover {
                    background: rgb(72, 95, 149);
                }
                .yt {
                    background: #8F1F0D;
                    i {
                        background: rgb(128, 21, 4);
                    }
                }
                .yt:hover {
                    background: rgb(170, 61, 44);
                }
                .gh {
                    background: rgb(56, 58, 59);
                    i {
                        background: rgb(15, 15, 15);
                    }
                }
                .gh:hover {
                    background: rgb(138, 133, 133);
                }
                .instg {
                    background: rgb(218, 124, 162);
                    i {
                        background: rgb(165, 17, 76);
                    }
                }
                .instg:hover {
                    // background: rgb(218, 124, 162);
                    background-image: linear-gradient(90deg,purple, yellow);
                }
            }
        }
    }

}
h6 {
    margin: 0;
    color: #a7a8ad;
    display: block;
    font-weight: lighter;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background: rgb(36, 82, 119);
}

@media screen and (max-width:1240px) {
    header {
        .logo {
            background: #34495e;
            box-shadow: none;
            margin-top: 12px;
            
            p {
                display: none;
                transition: 1s;
            }
        }
        .list-menu {
            
            a {
                font-size: 16px !important;
            }
        }

        .input-field {
            input {
                width: 100px;
            }
        }
    }

    .content {


        .html-description {
            font-size: 13px !important;
            padding-left: 20px !important;
            h2 {
                font-size: 20px !important;
                margin-bottom: 18px !important;
            }

            button {
                font-size: 15px !important;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    header {
        .list-menu {
            ul {
                li {
                    display: none;
                }
            }
        }
        .logo {
            background: none;
            img {
                background-size: cover;
            }
        }

        .showing {
            ul {
                li {
                    display: block;
                }
            }
        }
        .menu-icon {
            display: block;
        }
        .input-field {
            input {
                display: none;
            }
            button {
                display: none;
            }
        }
    }

    .content {

        .html-description {
            p {
                display: none !important;
            }
            button {
                margin: 0 auto !important;
            }
        }
    }
}

@media screen and (max-width:895px) {
    .html-sidebar, .css-sidebar, .js-sidebar {
        display: none;
    }
}