@mixin button {
    color: #1289A7;
    background: #fff;
    border: 1px solid #1289A7;
}
@mixin  button-hover  {
    color: #fff;
    background: #079992;
    border: 1px solid #1289A7;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    background: #f4f4f4f4;
}

header {
    width: 100%;
    .logo {
        background: rgb(40, 128, 179);
        position: absolute;
        display: flex;
        margin-top: 10px;
        margin-left: 30px;
        padding: 2px 6px;
        border-radius: 15px;
        cursor: pointer;
        transition: 0.2s;
        box-shadow: 5px 5px 5px #000;
        p {
            margin-top: 15px;
            font-size: 15px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
            color: #fff;
        }
    }

    .logo:hover {
        
        background: #fff;
        p {
            color: #1289A7;
        }
        
    }

    .list-menu {
        display: block;
        font-size: 18px;
        ul {
            list-style: none;
            text-align: center;
            background: #34495e;
            padding: 15px 0;
            margin: 0;
            li {
                display: inline-table;
                width: 120px;
                height: 50px;
                line-height: 50px;
                position: relative;
                text-shadow: 10px 10px 10px rgb(27, 25, 25) ;
                
                a {
                    color: #fff;
                    text-decoration: none;
                }
                a:hover {
                    color: rgb(223, 92, 16);
                    
                }

                .sub-menu {
                    text-align: center;
                    display: none;
                    position: absolute;
                    background: none;
                }
               
            }
            li:hover .sub-menu {
                display: block;
            }
          
        }

        .input-field {
            position: absolute;
            top: 30px;
            right: 40px;
            font-size: 17px;
            input {
                border: none;
            }
             button {
                 border: none;
                margin-left: -5px;
                color: #34495e;
                transition: 0.5s;
            }
            button:hover {
                color: #FF843E;
            }
        }
    }

    .banner {
        img {
            width: 100%;
        }
    }

    .menu-icon {
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        font-size: 35px;
        position: absolute;
        right: 40px;
        top: 22px;
        cursor: pointer;
        color: #fff;
        display: none;
    }

}

.content {
    width: 80%;
    min-height: 100vh;
    margin: auto;
    padding: 30px 0;
    
    .title {
        border-bottom: 1px solid #FF843E;
    }

    

    .html, .css, .js {
        overflow: hidden;
        position: relative;
        margin: 60px 0;
        transition: 0.4s;
        .img-html {
            left: 0;
            img {
                object-fit: cover;
                width: 100%;
                margin-left: -15px;
            }

        }
        .html-description {
            position: relative;
            right: 0;
            text-align: justify;
            font-size: 16px;
            padding: 0;
            padding-left: 30px;

            a {
                color: #000;
            }

            h2 {
                font-size: 27px;
                text-align: center;
                margin-bottom: 20px;
            }
            
            button {
                position: absolute;
                right: 0;
                bottom: 0;
                border: 1px solid #FF843E;
                padding: 8px 16px;
                font-size: 17px;
                color: #FF843E;
                background: #fff;
                transition: 0.5s;
            }
            button:hover {
                color: #fff;
                background: #FF843E;
            }
        }
    }

    .html:hover, .css:hover, .js:hover {
        box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.12);
    }

    

   

}

footer {
    width: 100%;
    background: #244c6d;
    color: #fff;
    
    .contact {
        width: 80%;
        margin: 0 auto;
        position: relative;
        height: 120px;
        border-bottom: 1px solid #FF843E;
        .quote {
            position: absolute;
            left: 0;
            top: 30px;
            h2 {
                font-size: 25px;
            }
            p {
                font-size: 15px;
                letter-spacing: 1px;
                color: #96979b;
            }
        }
        .input-field {
            position: absolute;
            right: 0;
            top: 30px;

            input {
                border: none;
                height: 40px;
                width: 250px;
                background: #262c33;
                color: #fff;
            }
            
            button {
                border: 1px solid #FF843E;
                height: 40px;
                letter-spacing: 1px;
                color: #fff ;
                width: 100px;
                background: #FF843E;
            }
            button:hover {
                color: #FF843E;
                background: #fff;
            }
            
        }
      
    }
    .links {
        width: 80%;
        margin: 0 auto;
        padding-top: 40px;
        justify-content: space-between;

        .introduce {
            img {
                float: left;
                margin-top: -15px;
            }
            .logo {
                h2 {
                    text-align: center;
                    font-size: 22px;
                    
                }
            }
            p {
                font-size: 15px;
                color: #96979b;
                text-align: justify;
            }
        }

       .navigation-link {
           text-align: center;
            h2 {
                font-size: 22px;
                line-height: none;
            }
            li {
                list-style: none;
                text-align: center;
                a {
                    font-size: 15px;
                    color: #96979b;
                }
            }
       } 

        .social-media {
            right: 0;
            text-align: center;
            
            ul {
                float: left;
                margin: 0;
                padding: 0;

                li {
                    font-size: 28px;
                    list-style: none;
                    padding: 10px 60px;
                    text-align: center;
                    margin: 3px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: 0.2s;

                    i {
                        //margin-left: -20px;
                        padding: 6px;
                        border: 1px solid none;
                        border-radius: 50%;
                        max-width: none;
                    }
                }
                .fb {
                    background: #314A83;
                    i {
                        background: rgb(10, 42, 117);
                    }
                }
                .fb:hover {
                    background: rgb(72, 95, 149);
                }
                .yt {
                    background: #8F1F0D;
                    i {
                        background: rgb(128, 21, 4);
                    }
                }
                .yt:hover {
                    background: rgb(170, 61, 44);
                }
                .gh {
                    background: rgb(56, 58, 59);
                    i {
                        background: rgb(15, 15, 15);
                    }
                }
                .gh:hover {
                    background: rgb(138, 133, 133);
                }
                .instg {
                    background: rgb(214, 67, 126);
                    i {
                        background: rgb(165, 17, 76);
                    }
                }
                .instg:hover {
                    background: rgb(211, 99, 144);
                }
            }
        }
    }


}


@media screen and (max-width:1240px) {
    header {
        .logo {
            background: #34495e;
            box-shadow: none;
            margin-top: 12px;
            
            p {
                display: none;
                transition: 1s;
            }
        }
        .list-menu {
            a {
                font-size: 16px !important;
            }
        }

        .input-field {
            input {
                width: 100px;
            }
        }
    }

    .content {


        .html-description {
            font-size: 13px !important;
            padding-left: 20px !important;
            h2 {
                font-size: 20px !important;
                margin-bottom: 18px !important;
            }

            button {
                font-size: 15px !important;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    header {
        ul {
            display: none;
        }
        .logo {
            background: none;
            img {
                background-size: cover;
            }
        }

        .showing {
            max-height: 20em;
        }
        .menu-icon {
            display: block;
        }
        .input-field {
            input {
                display: none;
            }
            button {
                display: none;
            }
        }
    }

    .content {

        .html-description {
            p {
                display: none !important;
            }
            button {
                margin: 0 auto !important;
            }
        }
    }
}